postgre_address=jdbc:postgresql:[postgresql address]
postgre_user=[user]
postgre_password=[password]
formatDatabase=false
insertDefaultUser=false
defaultUserName=[username]
defaultUserPassword=[password]
defaultUserIdentifier=[identifier]
