<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Add Item</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            /*<![CDATA[*/
            //BUG SECURITY YOU CAN ENTER CODE TO FUNK UP THE URL
            $(document).ready(function(){
                $("#scanbutton").click(function(){
                    var name = $("#name").val();
                    var url = "http://zxing.appspot.com/scan?ret=http%3A%2F%2F192.168.1.204%3A4567%2Fadditem%3Fserial%3D%7BCODE%7D%26name%3D" + name + "&SCAN_FORMATS=UPC_A,EAN_13";
                    window.location.href = url;
            })});
            /*]]>*/

        </script>
        <style>
        </style>
    </head>
    <body>
    <div th:replace="fragments :: navigation">
    </div>
    <div class="w3-main">
    <div class="w3-col m6 l4 w3-card-4 w3-margin">
        <form class="w3-container" action="/addserving.post" method="post">
            <div class="w3-container w3-green">
                <h2>Serving Info</h2>
            </div>
            <label class="w3-label" for="serialNumber">Serial Number:</label>
            <div class="w3-container w3-cell" style="width: 90%">
            <input class="w3-input" type="text" name="serialNumber" required="true" id="serialNumber" th:value="${serialfield}"/>
            </div>
            <div class="w3-container w3-cell">
            <input class="w3-button w3-teal" type="button" id="scanbutton" value="Scan" />
            </div> <br/>
            <label class="w3-label" for="mass">Mass (grams):</label>
            <input class="w3-input" type="number" name="mass" required="true" id="mass" step="0.01" min="0" /><br/>
            <input class="w3-button w3-block w3-teal" type="submit" name="submit" value="Submit" /> <br />
            <input class="w3-button w3-block w3-teal" type="reset" name="reset" value="Reset" /> <br />
        </form>
    </div>
    </div>
    </body>
</html>