<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>List</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css" />
        <style>
        body {
        }
        </style>
    </head>
    <body>
    <div th:replace="fragments :: navigation">
    </div>
    <div class="w3-main">
    <div class="w3-col m6 l4">
    <div class="w3-card-4 w3-margin">
    	<div class="w3-container w3-green">
            <h2>Expiring Foodstuffs</h2>
        </div>
    	<table class="w3-table-all w3-responsive">
    		<tr>
    			<th>Name</th>
    			<th>Expires In (days)</th>
    			<th>Location</th>
    		</tr>
	        <tr th:each="item: ${items}">
	            <td th:text="${item.name}">first</td>
	            <td th:text="${item.daysUntilExpiration}">0</td>
	            <td th:text="${item.location}">asd</td>
	        </tr>
    	</table>
    </div>
    <div class="w3-card-4 w3-margin">
    	<div class="w3-container w3-green">
            <h2>Shopping List</h2>
        </div>
    	<table class="w3-table-all w3-responsive">
    		<tr>
    			<th>Name</th>
    			<th>Amount</th>
    		</tr>
	        <tr th:each="item: ${listitems}">
	            <td th:text="${item.itemName}">first</td>
	            <td th:text="${item.amount}">asd</td>
	        </tr>
    	</table>
    </div>
    </div>
    </div>
    </body>
</html>