<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments :: head">
        </head>
    <head>
    <script>
            /*<![CDATA[*/
            function myFunction(id) {
                var x = document.getElementById(id);
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else { 
                    x.className = x.className.replace(" w3-show", "");
                }
            }
            /*]]>*/
    </script>
    </head>
    <body>
    <div th:replace="fragments :: navigation">
    </div>
    <div class="w3-main">
    <div class="w3-col m12 l10">
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h2>Today's Statistics</h2>
        </div>
        <div class="w3-row-padding">
             <div class="w3-quarter">
                <div class="w3-panel w3-blue w3-card-8 w3-round">
                    <p>Calories</p>
                    <p th:text="${calories}">joujou</p>
                </div>
             </div>
             <div class="w3-quarter">
                <div class="w3-panel w3-blue w3-card-8 w3-round">
                    <p>Carbohydrate</p>
                    <p th:text="${carbs}" />
                </div>
             </div>
             <div class="w3-quarter">
                <div class="w3-panel w3-blue w3-card-8 w3-round">
                    <p>Protein</p>
                    <p th:text="${protein}" />
                </div>
             </div>
             <div class="w3-quarter">
                <div class="w3-panel w3-blue w3-card-8 w3-round">
                    <p>Fat</p>
                    <p th:text="${fat}" />
                </div>
             </div>
        </div><br />
    	<div class="w3-container w3-green">
            <h2>Today's Meals</h2>
        </div>
        <div th:each="meal: ${meals}">
            <button th:onclick="|myFunction('${meal.id}')|" class="w3-button w3-block w3-left-align" >Time: <span th:text="${meal.time}" />, <a th:href="@{~/viewmeal?id={id} (id=${meal.id})}" >View</a></button>
            <div th:attr="id=${meal.id}" class="w3-hide w3-container">
                <ul class="w3-ul w3-hoverable" th:each="component: ${meal.components}">
                    <li><span th:text="${component.name}"></span>, <span th:text="${component.mass}"></span> g<div class="w3-hide-small" style="display: inline;">, Calories <span th:text="${component.foodstuff.relativeCalories}" /> kcal/100g, Carbohydrate <span th:text="${component.foodstuff.relativeCarbohydrate}" /> g/100g, Fat <span th:text="${component.foodstuff.relativeFat}" /> g/100g, Protein <span th:text="${component.foodstuff.relativeProtein}" /> g/100g</div></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    </body>
</html>