<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments :: head">
        </head>
    <head>
    </head>
    <body>
    <div th:replace="fragments :: navigation">
    </div>
    <div class="w3-main">
    <div class="w3-col m12 l10">
    <div class="w3-card-4 w3-margin">
        <div class="w3-container w3-green">
            <h2>Today's Statistics</h2>
        </div>
        <div class="w3-row-padding">
                 <div class="w3-quarter">
                    <div class="w3-panel w3-blue w3-card-8 w3-round">
                        <p>Energy</p>
                        <p th:text="${energy}">joujou</p>
                    </div>
                 </div>
                 <div class="w3-quarter">
                    <div class="w3-panel w3-blue w3-card-8 w3-round">
                        <p>Carbohydrate</p>
                        <p th:text="${carbs}" />
                    </div>
                 </div>
                 <div class="w3-quarter">
                    <div class="w3-panel w3-blue w3-card-8 w3-round">
                        <p>Protein</p>
                        <p th:text="${protein}" />
                    </div>
                 </div>
                 <div class="w3-quarter">
                    <div class="w3-panel w3-blue w3-card-8 w3-round">
                        <p>Fat</p>
                        <p th:text="${fat}" />
                    </div>
                 </div>
            </div><br />
    	<div class="w3-container w3-green">
            <h2>Today's Servings</h2>
        </div>
        <div class="w3-responsive">
    	<table class="w3-table-all">
    		<tr>
    			<th>Time</th>
    			<th>Name</th>
                <th>Amount</th>
    			<th>Energy</th>
                <th>Carbohydrate</th>
                <th>Fat</th>
                <th>Protein</th>
    		</tr>
	        <tr th:each="serving: ${servings}">
	            <td th:text="${serving.time}">first</td>
	            <td th:text="${serving.name}">0</td>
                <td th:text="${serving.amount}">0</td>
	            <td th:text="${serving.energy}">asd</td>
                <td th:text="${serving.carbohydrate}">asd</td>
                <td th:text="${serving.fat}">asd</td>
                <td th:text="${serving.protein}">asd</td>
	        </tr>
    	</table>
        </div>
    </div>
    </div>
    </div>
    </body>
</html>