<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments :: head">
    </head>
    <head>
        <script>
            /*<![CDATA[*/
            /*]]>*/

        </script>
    </head>
    <body>
    <div th:replace="fragments :: navigation">
    </div>
    <div class="w3-main">
    <div class="w3-col m8 l6 w3-card-4 w3-margin">
                <div class="w3-container w3-green">
                    <h2 th:text="${title}">Basic Info</h2>
                </div>
                <div class="w3-margin">
                    <h3>Name</h3>
                    <p class="w3-margin" th:text="${item.name}" />
                </div>
                <div class="w3-margin">
                    <h3>Type</h3>
                    <p class="w3-margin" th:text="${item.type}" />
                </div>

                <!-- If item show this -->
                <div th:if="${isItem}">
                    <div class="w3-margin">
                        <h3>Location</h3>
                        <p class="w3-margin" th:text="${item.location}" />
                    </div>
                    <div class="w3-margin">
                        <h3>Serial Number</h3>
                        <p class="w3-margin" th:text="${item.identifier}" />
                    </div>
                    <div class="w3-margin">
                        <h3>Created On</h3>
                        <p class="w3-margin" th:text="${item.date}" />
                    </div>
                    <div class="w3-margin" th:if="${isFoodstuff}">
                        <h3>Expiration Date</h3>
                        <p class="w3-margin" th:text="${item.expiration}" />
                    </div>
                    <div class="w3-margin" th:if="${not #lists.isEmpty(item.tags)}">
                        <h3>Tags</h3>
                        <ul class="w3-margin" th:each="tag : ${item.tags}">
                            <li><p><span th:text="${tag.key}" />: <span th:text="${tag.value}" /></p></li>
                        </ul>
                    </div>
                </div>

                <div th:if="${isMeal}">
                    <div class="w3-margin" th:if="${not #lists.isEmpty(item.ingredients)}">
                        <h3>Ingredients</h3>
                        <ul class="w3-margin" th:each="ingredient : ${item.ingredients}">
                            <li><p><a th:text="${ingredient.item.name}" th:href="@{~/view?uuid={uuid}&#38;type={type} (uuid=${ingredient.item.uuid}, type=${ingredient.item.type})}"/></p></li>
                        </ul>
                    </div>
                </div>


                <!-- <div class="w3-container w3-green">
                    <h2>Tags</h2>
                </div>
                <div id="tagdiv">
                    <div class="w3-margin" id="oldtags" style="display: none;">
                    <label class="w3-label" for="oldtags">Tags Associated with serial number</label>
                    <div class="w3-responsive">
                        <table class="w3-table-all" id="oldtagstable">
                            <tr id="headerold">
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </table>
                    </div>
                    </div>
                    <label class="w3-label" for="tagkey">Key:</label>
                    <input class="w3-input" type="text" name="tagkey" id="keyinput" /> <br />
                    <label class="w3-label" for="tagvalue">Value:</label>
                    <input class="w3-input" type="text" name="tagvalue" id="valueinput" /><br />
                    <input class="w3-button w3-block w3-teal" type="button" id="addtagbutton" value="Add Tag" /><br />
                    <div class="w3-responsive" id="newtags" style="display: none;">
                        <table class="w3-table-all" id="tagstable">
                            <tr class="header">
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </table>
                        <input class="w3-button w3-block w3-teal" type="button" id="removetagbutton" value="Remove Tag" /><br />
                    </div>
                </div>
            <div id="datepicker" style="display: none">
                <span>Expiration Date:</span><br/>
                <input class="w3-input" type="date" name="expiration" /><br/>
            </div>
            <input class="w3-button w3-block w3-teal" type="submit" name="submit" value="Submit" /> <br />
            <input class="w3-button w3-block w3-teal" type="reset" name="reset" value="Reset" /> <br /> -->
            <button class="w3-button w3-teal">Delete</button>
            <button class="w3-button w3-teal">Edit</button>
            <button class="w3-button w3-teal">Borrow</button>
            
    </div>
    </div>
    </body>
</html>